body{
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #350249;
    color: rgb(48, 16, 37);
    font-family: 'calibri',sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.container{
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    background-color: rgb(19, 91, 112);
    flex:0 0 80%; 
}

#quoteBtn{
    border: none;
    color: rgb(0, 3, 3);
    background: #493002;
    font-size: 1.3rem;
    padding: 0.25rem 0.5rem;
    border-radius: 7px;
    cursor: pointer;
}
#quoteBtn:hover{
    color: #e8f71c
}
#quoteBtn{
    color:#0e0606;
}

blockquote{
    background: #8d0c57;
    border-left: 10px solid #4e0118;
    margin: 1.5rem;
    padding: 0.5rem;
}

#quoteAuthor{
    color:#0e0101;
}

